@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('../public/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


*{
  box-sizing: border-box;
}